<!-- Standard contact form included throughout the app -->

<h3>Please enter the following information:</h3>
<div class="form-group">
    <label for="suffix">Suffix:</label> <br>
    <input type="radio" id = "suffix1" name="suffix" value ="Mr."/> Mr.
    <input type="radio" id = "suffix2" name="suffix" value="Mrs."/>Mrs.
    <input type="radio" id = "suffix3" name="suffix" value="Ms."/>Ms.
    <input type="radio" id = "suffix4" name="suffix" value="Dr."/>Dr.
    
</div>
<br>
<div class="form-group">
    <label for="first">First Name:</label>
    <input class="form-control" type="text" id = "first" name="first" value="" required/>
        
</div>
<div class="form-group">
    <label for="last">Last Name:</label>
    <input class ="form-control" type="text" id="last" name="last" value="" required/>
</div>
<br>

<div class = "form-group">
    <label for="street">Street:</label>
    <input class ="form-control" type="text" id="street" name="street" value="" required/><br/>
</div>
<div class="form-group">
    <label for="city">City:</label>
    <input class ="form-control" type="text" id = "city" name="city" value = "" required/>
</div>
<br>

<div class = "form-group">
    <label for="state">State:</label>
    <select name="state" id = "state" required>
        <option value="NY">NY</option>
        <option value="NJ">NJ</option>
        <option value="PA">PA</option>
        <option value="CT">CT</option>
    </select>
</div>    
<div class="form-group">
    <label for="zip">Zip: </label>
    <input class ="form-control" type="text" id="zip" name="zip" value="" required/>
</div>
<br>
<div class = "form-group">
    <label for="phone">Phone: </label>
    <input class ="form-control" type="text" id="phone" name = "phone" value=""/>
    <br/><br/>
    <label for="email">Email: </label>
    <input class ="form-control" type="email" id="email" name="email" value=""/>
    
</div>
<br>
<div class = "form-group">
    <label for="contact">How may we contact you?</label><br>
        <input type="checkbox" id = "phoneGood" name="phoneOK" value="phone"/>Phone
        <input type="checkbox" id = "mailGood" name="mailOK" value="mail"/>Mail
        <input type="checkbox" id = "onlineGood" name="emailOK" value="online"/>Email
        <input type="checkbox" id = "allGood" name="allOK" value="any"/>Any
        
</div>
<br>

