<!-- Search box for first and last name used on contacts SPA -->

<h4>Please fill out the required information below:</h4>
<h6>A full first and last name is not required</h6>

<form id = "searchBox">
    <div class="form-group">
        <label for="firstname">First Name:
            <input type = "text" class ="form-control" name = "firstname" id = "firstname" value=""/>
        </label>
    </div>
    <div class = "form-group">
        <label for = "lastname">Last Name: 
            <input type="text" class = "form-control" name = "lastname" id = "lastname" value =""/>
        </label>
    </div>
    <button type="button" class="btn hvr-sweep-to-bottom" id ="searchButton">Search</button>
</form>
